/* Style for the button */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style for the file input */
.input[type="file"] {
  padding: 10px;
}

.label {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
}
